<style>
  .body-field-preview-container {
    height: 0;
    overflow: hidden;
    padding-top: 177%;
    position: relative;
    border: solid 1px #ccc;
  }
  .body-field-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  .actions {
    margin-top: 10px;
  }
</style>
<%= form_for @custom_notification, url: (@custom_notification.new_record? ? web_custom_notifications_path : web_custom_notification_path(@custom_notification)), method: (@custom_notification.new_record? ? :post : :patch) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <% if @custom_notification.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@custom_notification.errors.count, "error") %> prohibited this custom_notification from being saved:</h2>

          <ul>
          <% @custom_notification.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= f.label :push_title, { class: 'col-form-label' } %>
        <%= f.text_field :push_title, { class: 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :push_message, { class: 'col-form-label' } %>
        <%= f.text_field :push_message, { class: 'form-control' } %>
      </div>

      <div class="field form-group">
        <%= f.label :title, { class: 'col-form-label' } %>
        <%= f.text_field :title, { class: 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :image_url, { class: 'col-form-label' } %>
        <%= f.text_field :image_url, { class: 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :action_title, { class: 'col-form-label' } %>
        <%= f.text_field :action_title, { class: 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :action_link, { class: 'col-form-label' } %>
        <%= f.text_field :action_link, { class: 'form-control' } %>
      </div>
      <div class="field form-group">
        <%= f.label :body %>
        <%= f.text_area :body, { class: 'form-control body-field' } %>
      </div>
      <div class="actions text-right">
        <%= f.submit 'Salvar', :class => 'btn btn-space btn-primary' %>
        <%= link_to 'Cancelar', web_custom_notifications_path %>
      </div>
    </div>
    <div class="col-md-6">
      <label style="display:block">Preview</label>
      <div class="body-field-preview-container">
        <div class="body-field-preview"></div>
      </div>
    </div>
  </div>
<% end %>